 .u-section-1 {
  background-image: url("images/Imagem16.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 272px;
}

.u-section-1 .u-shape-1 {
  width: 42px;
  height: 26px;
  margin: 35px 19px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 224px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 81px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 952px;
}

.u-section-2 .u-image-1 {
  width: 317px;
  height: 238px;
  margin: -131px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -147px 76px 0 auto;
  padding: 24px 77px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 93px auto 0;
}

.u-section-2 .u-image-2 {
  width: 411px;
  height: 571px;
  margin: 99px auto 0 32px;
}

.u-section-2 .u-image-3 {
  width: 624px;
  height: 656px;
  margin: -656px 32px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 864px;
  }

  .u-section-2 .u-image-3 {
    width: 540px;
    height: 568px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 472px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 358px;
    margin-top: -557px;
  }
}

/* POP-UP DE CONSULTAS */
* {
  box-sizing: border-box;
  border-radius: 25px;
}
.popup-wrapper{
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 0px;
}
.popup {
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background-color: rgb(224, 195, 157);
  position: relative;
  
}

.popup ul li{
  list-style-type: none;

}
/* .popup form{
  
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  
} */


.popup a {
  color: white;
  border: 0;
  cursor: pointer;
  padding: 6px 10px;
  background: rgb(1, 75, 1);
}

.popup-close{
  color: red;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;

}

/* DEVERIA SER POP-UP DE CONFIRMAR CONSULTA */

*A {
  box-sizing: border-box;
}

.popup-wrapperA{
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}
.popupA {
  font-family: Arial;
  text-align: center;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  background-color: rgb(224, 195, 157);
  position: relative;
}

.popupA a {
  color: white;
  border: 0;
  cursor: pointer;
  padding: 6px 10px;
  background: rgb(1, 75, 1);
}

.popup-closeA{
  color: red;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;

}
