.u-section-1 .u-sheet-1 {
  min-height: 868px;
}

.u-section-1 .u-image-1 {
  width: 207px;
  height: 176px;
  margin: 48px auto 0 108px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -117px auto 0 330px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 12px auto 0 413px;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: -29px auto 0 372px;
}

.u-section-1 .u-icon-1 {
  width: 22px;
  height: 22px;
  margin: -25px auto 0 335px;
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 207px;
  height: 176px;
  margin: 100px auto 0 107px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: -122px auto 0 335px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 12px auto 0 419px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: -29px auto 0 378px;
}

.u-section-1 .u-icon-2 {
  width: 22px;
  height: 22px;
  margin: -25px auto 0 341px;
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 207px;
  height: 176px;
  margin: 150px auto 0 107px;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  margin: -122px auto 0 341px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  font-size: 1.125rem;
  margin: 12px auto 0 425px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  margin: -29px auto 0 384px;
}

.u-section-1 .u-icon-3 {
  width: 22px;
  height: 22px;
  margin: -28px auto 7px 341px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 272px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 213px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 307px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 276px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 276px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 219px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 312px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 281px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 281px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 225px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 316px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 281px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 208px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 235px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 211px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 211px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 239px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 215px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 215px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 5px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 242px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 156px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 176px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 158px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 158px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 179px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 161px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 182px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 98px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 111px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 113px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 101px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 115px;
  }

  .u-section-1 .u-icon-3 {
    margin-left: 101px;
  }
}